/data/
/data_back/
/data_processed/
/.ipynb_checkpoints/
/.idea/gnss_image_classification.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
